body {
  background-color: #ffe9df;
  margin: 0;
  padding: 16px 32px;
  font-family: 'Lucida';
  color: #ff61b8;
}

code {
  font-family: 'Courier New',
}

.home {
  margin: 50px;
  line-height: 2.5;
  margin-bottom: 150px;
}

.button {
  background-color: #ff44b8;
  border: none;
  color: white;
  font-size: 15px;
}

.form {
  background-color: #ffccca;
  border: .5px solid #ff61b8;
  color: black;
}